//fonts

$mainFont: "Poppins", sans-serif;

//colors

$lightcolor:rgb(168, 202, 253);
$darkMain: rgb(28, 28, 124);
$secondColor:rgb(68, 197, 85);
$thirdColor:rgb(126, 18, 160);
$background: rgb(168, 202, 253);