.body{
	color:$darkMain;
	background-color: $background;
}
.superbox {
	text-transform: uppercase;
	font-family: $mainFont;
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	align-items: center;
	justify-content: center;
	gap: 20px;
    &__h1{
        font-size: 50px;
     
    }
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 20px;
		border: 0px;
	
		&__fieldset {
			border: 0px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			margin: 10px;

			label{
				font-size: 32px;
			}
			input {
				border: 1px solid $darkMain;
				border-radius: 5px;
				padding: 20px;
				text-transform: uppercase;
			}
		}
		&__submit {
			@include button();
			background-color: $darkMain;
		}
		&__reset {
			
			@include button();
			background-color: $secondColor;
		
		}
		&__addinput {
			@include button();
			background-color: $thirdColor;
		
		}
        &__extradiv{
            display: flex;
			justify-content: center;
            gap:20px;
			margin-top: 40px;
			margin-bottom: 40px;
        }
	}
	&__results {
       
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
	
	}
}
